<div class="rt-grid-9 rt-alpha rt-omega">
<div class="module-outline-1">
        	<div class="module-outline-2">
            	<div class="rt-block equalsContenttopContent">
		<div class="module-content">
		<div class="in-module-content">
		  <h2>X10: Performance, Productivity, and Scale</h2>
<p>
X10 is a statically-typed object-oriented language, extending a sequential core language with places, activities, clocks, (distributed, multi-dimensional) arrays and struct types.
All these changes are motivated by the desire to use the new language for high-end, high-performance, high-productivity computing.
</p>
		</div>
		</div>
            	</div>
            </div>
        </div>
        	
</div>
