   <div id="rt-sidebar-a">
   {% for menu in site.data.side-menu %}
                                    <div class="module-outline-1">
        	<div class="module-outline-2">
            	<div class="rt-block">
		<div class="module-title">
           	    	<h2 class="title">
			{% if menu.link %}
			<a href="{{menu.link}}">{{menu.name | xml_escape}}</a>
			{% else %}
 			{{menu.name | xml_escape}}
			{% endif %}
			</h2>
					</div>
            	                	    <div class="module-content">
            	    	<div class="in-module-content">
			  <ul class="menu">
 {% for item in menu.submenu %}
  <li>
 {% if item.link %}
 <a href="{{item.link}}"><span>{{item.name | xml_escape}}</span></a>
 {% else %}
 <span>{{item.name | xml_escape}}</span>
 {% endif %}
  {% endfor %}
  </ul>            	    	</div>
            	    </div>
            	</div>
            </div>
        </div>
{% endfor %}        	
                </div>
