---
layout: default
---
<div class="rt-blog">
  <h1 class="title">
    {{ page.title | xml_escape}}
  </h1>

  <article class="post-content">

  {{ content <!-- if there is any content, put it here as a header --> }}
  {% assign row = -1 %}
  {% assign sorted_pages = site.pages | sort:"date", 'last' % | reverse %}
  {% for p in sorted_pages %}
  {% if p.category == page.blog-category %}
  {% unless p.draft %}
  {% if row == -1 %}
     <div class="rt-leading-articles">
     <div class="leading-0">
  {% else <!-- row == -1 -->  %}
     <div class="items-row cols-1 row-{{row}}">
     <div class="item column-1">
  {% endif <!-- row == -1 --> %}
     <div class="rt-article">
     <div class="rt-article-bg">
       <!-- Article Source <a href="{{p.url}}">{{p.title}}</a> -->
       {% assign content = p.content | strip_newlines %}
       {% if content != ""  %}
       <div class="category-desc">
	 <p>{{ p.content }}</p>
	 <div class="clr"></div>
       </div>
       {% endif <!-- content != "" --> %}
     </div>
     </div>
       <div class="item-separator"></div>
     </div>
     {% if row != -1 %}
            <span class="row-separator"></span>
     {% endif <!-- row != -1 --> %}
</div>
{% capture row %}{{row | plus:1}}{% endcapture %}
{% endunless <!-- p.hidden --> %}
{% endif <!-- p.category == page.blog-category --> %}

{% endfor <!-- for page in site.pages --> %}
  
  </article>
</div>
