<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

  <!--    {% include header.html %} -->

   <div id="page-wraper">
     <div id="in-page-wraper">
       <div id="in-page-wraper-2">
	 <div id="rt-header">
	   <div class="rt-container">
	     <div class="rt-grid-7 rt-alpha">
	     <div class="rt-block">
		 <div class="custom">
		   <h1 style="text-align: justify;float:left;"><strong><a class="site-title" href="{{site.baseurl }}/">{{ site.title }}</a></strong></h1>
		 </div>
</div>
</div>
	     <div class="rt-grid-5 rt-omega">
	     <div class="rt-block">
	       SEARCH not currently implemented</div></div>
		 <div class="clear"></div>
</div></div> 
<div id="rt-menu"><div class="rt-container">
   {%include top_menu.html %}
</div></div>
<div id="rt-main" class="mb9-sa3">
  <div class="rt-container">
    <div class="rt-grid-9 ">
      <div id="rt-content-top">
      </div>
      <div class="rt-block">
	<div id="rt-mainbody">
	  <div class="component-content">
	    <div class="rt-article">
	      <div class="rt-article-bg">
		<div class="wrapper">
        {{ content }}
</div>
</div></div>
								</div>
	                        </div>
						</div>
                                                                    </div>
                                <div class="rt-grid-3 ">
                <div id="rt-sidebar-a">
                                    <div class="module-outline-1">
        	<div class="module-outline-2">
            	<div class="rt-block">
            	    					<div class="module-title">
            	    	<h2 class="title">X10 Resources</h2>
					</div>
            	                	    <div class="module-content">
            	    	<div class="in-module-content">
            	    		
<ul class="menu">
<li id="item-325"><a href="http://x10.sourceforge.net/documentation/intro/latest/html/" ><span>An Introduction to X10</span></a></li><li id="item-331"><a href="/x10-publications.html" ><span>X10 Publications</span></a></li><li id="item-338"><a href="/applications-and-libraries-using-x10.html" ><span>Applications and Libraries</span></a></li><li id="item-352"><a href="http://stackoverflow.com/questions/tagged/x10-language" ><span>Stack Overflow</span></a></li><li id="item-219"><a href="/x10-events.html" ><span>Upcoming X10 Events</span></a></li><li id="item-104"><a href="/software/download-x10/latest-release.html" ><span>Download X10</span></a></li><li id="item-211"><a href="http://x10.sourceforge.net/documentation/languagespec/x10-latest.pdf" ><span>Language Specification</span></a></li><li id="item-218"><a href="/x10-mailing-lists.html" ><span>Mailing Lists</span></a></li></ul>            	    	</div>
            	    </div>
            	</div>
            </div>
        </div>
        	
                </div>
            </div>

                    <div class="clear"></div>
                </div>
            </div>
																			</div>
			</div>
		</div>

{% include footer.html %}

</body>

</html>
