<!DOCTYPE html>
<html>

  {% include head.html %}

<body>

  <!--    {% include header.html %} -->

   <div id="page-wraper">
     <div id="in-page-wraper">
       <div id="in-page-wraper-2">
	 <div id="rt-header">
	   <div class="rt-container">
	     <div class="rt-grid-7 rt-alpha">
	     <div class="rt-block">
		 <div class="custom">
		   <h1 style="text-align: justify;"><a href="{{site.baseurl }}/"><strong>{{ site.title }}</strong></a></h1>
		 </div>
</div>
</div>
	     <div class="rt-grid-5 rt-omega">
	     <div class="rt-block">
	       {% include site-search.html %}
	       </div></div>
		 <div class="clear"></div>
		 </div>
		 </div>
<div id="rt-menu"><div class="rt-container">
   {%include top_menu.html %}
</div></div>
<div id="rt-main" class="mb9-sa3">
  <div class="rt-container">
  <div class="rt-grid-9 ">
    {{ content }}
  </div>
  <div class="rt-grid-3 ">
    {%include side_menu.html %}
  </div>
  
  <div class="clear"></div>
  </div>
  </div>
  </div>
  </div>
  </div>

{% include footer.html %}

</body>

</html>
